<div class="">
  {{ pokemon.id }}
</div>
<div class="">
  {{ pokemon.name }}
</div>
<div class="">
  {{!-- app crashes when img src cannot be found --}}
  {{!-- <img src="{{pokemon.img}}" /> --}}
  {{pokemon.img}}
</div>
<div class="">
  {{ pokemon.height }}
</div>
<div class="">
  {{ pokemon.weight }}
</div>
