<h1>{{pokemon.name}}</h1>
<img src="{{pokemon.img}}" alt="">
<ul>
    <li>Id: {{pokemon.id}}</li>
    <li>Num: {{pokemon.num}}</li>
    <li>Name: {{pokemon.name}}</li>
    <li>Weight: {{pokemon.weight}}</li>
    <li>Height: {{pokemon.height}}</li>
</ul>
<a href="/pokemons/{{pokemon.id}}/edit">Edit this pokemon</a>