{{#if loggedIn}}
<h1>Hello {{name}}</h1>
<form action="/users/logout" method="post">
<input type="submit" value="Logout">
</form>
<h2>Your pokemons</h2>
<ul>
    {{#each userPokemon}}
    <li><a href="/pokemons/{{this.id}}">{{this.name}}</a></li>
    {{/each}}
</ul>
{{/if}}
<h1>Pokedex</h1>
{{#if loggedIn}}
{{else}}
<a href="/users/login">Log in</a>
<a href="/users/new">Register</a>
{{/if}}
<a href="/pokemons/new">Report a new pokemon</a>
<ul>
    {{#each pokemon}}
    <li><a href="/pokemons/{{this.id}}">{{this.name}}</a></li>
    {{/each}}
</ul>