<div class="page-header">
  <div class="container">
    <h3 class="sub-title"> Edit Alert</h3>
  </div>
</div>
<div class="container">
  <form id="editForm" class="" action="/alerts/edit/{{alert.id}}?_method=PUT" method="post">
    <input type="hidden" name="id" value="{{alert.id}}">
    <div class="row">
      <div class="input-field">
        <input id="name" type="text" name="name" value="{{alert.name}}">
        <label for="name">Title</label>
      </div>
    </div>
    <div class="row">

      <div class="input-field">
        <label id="textlablel1" for="textarea1">Message</label>
        <textarea id="textarea1" class="materialize-textarea" form="editForm" name="description">{{alert.description}}</textarea>
        <span class="helper-text" data-error="wrong" data-success="right">Message for Mominder to remind your future self</span>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <label for="date-field">Date</label>
        <input id="date-field" type="text" class="datepicker" name="date" value="{{alert.raw_date}}">
      </div>

      <div class="input-field col s6">
        <label for="time-field">Time</label>
        <input id="time-field" type="text" class="timepicker" name="time" value="{{alert.raw_time}}">
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <button class="red lighten-2 waves-effect waves-light btn" type="submit" name="action">SUBMIT
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>

  </div>
</form>
<script type="text/javascript" src="/js/forms.js">
</script>
